.brand{
	margin-right: 5vw;
}

.imgBox{
	min-width: 170px;
}

.navbar_container {
  font-size: 1.4em;
  color: #191919;
}

.navbar_content .nav-link {
  color: #333; /* 진한 색상으로 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: color 0.3s, transform 0.3s; /* 색상과 변환 효과에 대한 전환 추가 */
}

.navbar_content .nav-link img {
  width: 1.5em;
  height: 1.5em;
  transition: fill 0.3s, filter 0.3s; /* SVG fill 속성 및 필터에 대한 전환 추가 */
}

.navbar_content .nav-link:hover {
  color: #000; /* hover 시 더 진한 색상 */
  transform: scale(1.1); /* 살짝 확대 효과 */
}

.navbar_content .nav-link:hover img {
  fill: #000; /* hover 시 SVG 색상 변경 */
  transform: scale(1.2); /* 아이콘에 대해서도 확대 효과 */
}

.navbar_content .nav-link:focus {
  outline: none; /* 포커스 시 outline 제거 */
  color: #000;
}

.icon {
  padding: 10px;
}

.icon:hover {
  background-color: #f2f4f6;
}

/* 네비게이션 바 높이 조정 */
.navbar {
  height: 50px; /* 높이 조정 */
  line-height: 50px; /* 내용물 중앙 정렬 */
}

/* 다크 모드에 대한 추가 스타일 */
body.dark-mode .container {
  color: #ffffff;
}

body.dark-mode .navbar_content .nav-link {
  color: #cccccc;
}

body.dark-mode .navbar_content .nav-link:hover {
  color: #ffffff;
}

body.dark-mode .icon:hover {
  background-color: #2c2c2c;
}

/* 다크 모드에서 Navbar.Brand 스타일 */
body.dark-mode .navbar-brand {
  color: #ffffff;
}

/* 다크 모드에서 아이콘 hover 시 SVG 색상 변경 */
body.dark-mode .navbar_content .nav-link:hover img {
  fill: #000; /* 아이콘 hover 시 검은색으로 변경 */
}
