.wrapper {
  padding: 60px;
  text-align: center; /* 중앙 정렬 추가 */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center; /* 중앙 정렬 추가 */
}

.title_content {
  margin: 0;
  text-align: center; /* 중앙 정렬 추가 */
}

.title_button {
  background-color: transparent;
  border: 2px solid #191919;
  margin: 0 20px;
  text-align: center; /* 중앙 정렬 추가 */
}

.title_button:hover {
  border: 2px solid #0D6EFD;
  text-align: center; /* 중앙 정렬 추가 */
}

.table_head, .table_body {
  text-align: center; /* 중앙 정렬 추가 */
}

.table_body td {
  vertical-align: middle; /* 수직 정렬을 중간으로 */
}

.emphasize {
  color: #E67BA4;
}

.more_emphasize {
  color: #CF2F11;
}

/* 다크 모드 스타일 추가 */
body.dark-mode .wrapper {
  background-color: #1e1e1e;
}

.dark_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #212529;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 추가 */
}

.dark_title_content {
  margin: 0;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 추가 */
}

.dark_title_button {
  background-color: #212529;
  border: 2px solid #191919;
  margin: 0 20px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 추가 */
}

body.dark-mode .title_button:hover {
  border: 2px solid #0D6EFD;
}

body.dark-mode .table {
  background-color: #2c2c2c;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 추가 */
}

body.dark-mode .table_head {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 추가 */
}

body.dark-mode .table_body {
  background-color: #2c2c2c;
  color: #ffffff;
  text-align: center; /* 중앙 정렬 추가 */
}

body.dark-mode .table_body tr:hover {
  background-color: #3c3c3c;
}
