.table {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border: 2px solid #000; /* 테두리 두께와 색상 설정 */
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
  border: 2px solid #000; /* 각 셀의 테두리 두께와 색상 설정 */
}

.toggleButton {
  padding: 0;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
	position: relative; /* Tooltip을 버튼에 상대적으로 위치시키기 위해 필요합니다 */
}

.toggleButton:focus {
  outline: none;
}

.expandedRow {
  padding: 0 !important;
}

.innerTable {
  margin: 0;
  width: 100%;
}

.success {
  background-color: #d4edda !important; /* 초록색 배경 */
  color: #155724; /* 초록색 글자 */
}

.fail {
  background-color: #f8d7da !important; /* 빨간색 배경 */
  color: #721c24; /* 빨간색 글자 */
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline; /* 마우스를 올렸을 때도 밑줄을 유지 */
}


.table a {
  text-decoration: underline !important; /* 마우스를 올렸을 때도 밑줄을 유지 */
	cursor: pointer;
}

.table a:hover {
  text-decoration: underline !important; /* 마우스를 올렸을 때도 밑줄을 유지 */
}

.rotated {
  transform: rotate(180deg);
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 99999;
}

.toggleButton:hover .tooltip {
  display: block;
}